{% extends 'base/layout.html' %}
{% block content %}
<html>
        
        <body>
          
            <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          CLICK HERE
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">LOGIN</a>
                          <a class="dropdown-item" href="#">SIGNUP</a>
                          <a class="dropdown-item" href="#">ABOUT US</a>
                        </div>
                      </div>
                
        </body>
    
    
</html>
{% endblock %}